@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,600&display=swap');

body{
    margin: 0;
    padding: 0;

    font-family: "Montserrat", sans-serif;
}

h3, h4, a{
    color: white;
}

a{
    text-decoration: none;
}

.button{
    text-decoration: none;
    background-color: red;
    padding: 5px 7px;
    border-radius: 10px;
    font-size: 1.1em;
}

.centered, .left, .right{
    position: fixed;
    top: 5%;
    transform: translate(-50%,-50%);
}

.centered{
    left: 50%;
}
.left{
    left: 10%;
}

.right{
    right: 5%;
}

.topBar h3{
    font-size: 1.75em;
}

.topBar h4{
    font-size: 1.25em;
    width: fit-content;
}

.mainContainer{
    min-height: 100vh;
}

.topBar{
    position: sticky;
    top: 0%;  
    left: 0%;
    right: 0%;

    height: 10vh;

    background-color: black;

    z-index: 1;
}

.topBar > *{
    margin: 0;
}

.projectContainer{
    padding-top: 10px;
    background-color: #2C4251;

    min-height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background{
    height: 75vh;
    width: 80%; 
    max-width: 1000px;

    border-radius: 10px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 

    position: absolute;
    top: 15%;

    z-index: 0;
}

.projectDetails, .extraDetails{
    width: 80%;
    position: relative;

    display: flex;
    justify-content: space-evenly;

    min-height: 80vh;

    color: white; 
}

.projectDetails{
    align-items: flex-end;
    flex-direction: row;
}

.extraDetails{
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.projectDetails > div, .extraDetails > div{
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px 5px 0;
    margin: 10px 0;
}

.projectDetails > div p{
    text-align: center;
}

.extraDetails > div{    
    width: 100%
}

.carouselContainer{
    width: 100%;
    height: 600px;
}

.carousel{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    height: 80%;
}

.carouselItem{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    height: 45%;
    width: 30%;

    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.carouselItem:hover{
    box-shadow: 0 0 3px 1px white;
}

.slide1{
    background-image: url(img/Level1.png);
}

.slide2{
    background-image: url(img/Level1bis.png);
}

.slide3{
    background-image: url(img/BossBattle.png);
}

.modal{
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modalContent{
    margin: auto;
    display: block;
    width: 80%;
    height: 80%;
    max-width: 700px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom{
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes zoom{
    from{transform: scale(0)}
    to{transform: scale(1)}
}

.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.out{
    animation: fadeOut 3s;
}

.in{
    animation: fadeIn 3s;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

@media (max-width : 800px){

    .topBar h3{
        font-size: 1.25em;
    }
    
    .topBar h4{
        font-size: 1em;
    }
    
    .left{
        left: 15%;
    }
    
    .right{
        right: 0%;
    }
    
    .centered, .left, .right{
        top: 5%;
        transform: translate(-50%,-50%);
    }

    .background{
        top: 5%;
    }

    .projectDetails > div > p{
        font-size: 0.7em;
    }
}

@media (max-width : 1100px)
{
    .button{
        font-size: 0;
        padding: 0px;
        height: 35px;
        width: 35px;

        background-color: black;
        background-image: url(../img/left_arrow.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .carousel{
        flex-direction: column;
        flex-wrap: nowrap;
    }

     .carouselItem{
        width: 50%;
        height: 100%;

        margin: 10px 0;
    } 
}

