@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,600&display=swap');

body{
    margin: 0;
    padding: 0;

    font-family: "Montserrat", sans-serif;
}

h3, h4, a{
    color: white;
}

.button{
    text-decoration: none;
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.1em;
}

.centered{
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.left{
    position: fixed;
    top: 2%;
    left: 15%;
    transform: translate(-50%,-50%);
}

.right{
    position: fixed;
    top: 5%;
    right: 3%;
    transform: translate(-50%,-50%);
}

.topBar h3{
    font-size: 1.75em;
}

.topBar h4{
    font-size: 1.25em;
    width: fit-content;
}

.mainContainer{
    min-height: 100vh;
}

.topBar{
    position: sticky;
    top: 0%;  

    height: 10vh;

    background-color: black;

    z-index: 1;
}

.projectContainer{
    padding-top: 10px;
    background-color: #2C4251;

    min-height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background{
    height: 75vh;
    width: 80%; 
    max-width: 1000px;

    border-radius: 10px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 

    position: absolute;
    top: 15%;

    z-index: 0;
}

.projectDetails, .extraDetails{
    width: 80%;
    position: relative;

    display: flex;
    justify-content: space-evenly;

    min-height: 80vh;

    color: white; 
}

.projectDetails{
    align-items: flex-end;
    flex-direction: row;
}

.extraDetails{
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.projectDetails > div, .extraDetails > div{
    background-color:rgba(0, 0, 0, 0.5);
    padding: 10px 5px 0;
    border-radius: 10px;
    margin: 10px 0;
}

.extraDetails > div{
    width: 100%
}

.carouselContainer{
    width: 100%;
    height: 600px;
}

.carousel{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    height: 80%;
}

.carouselItem{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    height: 45%;
    width: 30%;
}

.slide1{
    background-image: url(img/Level1.png);
}

.slide2{
    background-image: url(img/Level1bis.png);
}

.slide3{
    background-image: url(img/BossBattle.png);
}

.out{
    animation: fadeOut 3s;
}

.in{
    animation: fadeIn 3s;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

@media (max-width : 800px){

    .topBar h3{
        font-size: 1.25em;
        margin-left: 50px;
    }
    
    .topBar h4{
        font-size: 1em;
    }

    .projectDetails > div > p{
        font-size: 0.75em;
    }
    
}

@media (max-width : 1100px)
{
    .button{
        font-size: 0;
        padding: 0px;
        height: 35px;
        width: 35px;

        background-color: black;
        background-image: url(../img/left_arrow.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .carousel{
        flex-direction: column;
    }
}

